@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300&display=swap');

:root {
  --color-white: #fff;

  --color-hover: #fb9155;
  --color-active: #eb6012;

  --color-black: #000;

--chips-bg: #f0f0f0;
--chips-bg-hover: #FB9155;
--chips-bg-active: #EB6012;
--chips-bg-click: #CB540F;

  --btn-blue: #0468FF;
  --btn-blue-hover: #0052CC;
  --btn-blue-click: #0043A7;

//   --btn-white: #
//   --btn-white-hover: #
//   --btn-white-click: #
}


