@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300&display=swap");

:root {
  --color-white: #fff;

  --color-hover: #fb9155;
  --color-active: #eb6012;

  --color-black: #000;

  --chips-bg: #f0f0f0;
  --chips-bg-hover: #fb9155;
  --chips-bg-active: #eb6012;
  --chips-bg-click: #cb540f;

  --btn-blue: #0468ff;
  --btn-blue-hover: #0052cc;
  --btn-blue-click: #0043a7;
}
