* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-white);
  position: relative;

  width: 100%;
  min-width: 456px;
  height: 100vh;
  overflow: hidden;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../../src/styles/img/cover.png);
  background-size: cover;
}
.section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container {
  position: relative;
  width: 100%;
  max-width: 740px;
  z-index: 3;
}

.wrapper {
  position: relative;
  max-width: 740px;
}
.test {
  background: #000;
}
.test2 {
  background: #fff;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
