.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'prev';
  background: red;
  }

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  background: red;
 
  }
  
 