a {
  text-decoration: none;
  color: var(--color-white);
}


.chip {
  
  color: var(--color-black);
  background: var(--chips-bg);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 32px;

  padding: 15px 24px;

  margin: 0 12px 16px 0;
  border-radius: 18px;
  font-size: 12px;
}

.chip:hover {
  color: var(--color-white);
  background: var(--chips-bg-hover);
  cursor: pointer;
}
.chip:active {
  background: var(--chips-bg-active);
}